.Order{
    width: 80%;
    border: 1px solid #eee;
    padding: 10px;
    margin: 10px auto;
}

.Span{
    text-transform: capitalize;
    display: inline-block;
    margin: 0 8px;
    border: 1px solid #ccc;
    padding: 5px;
}